<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160040049160-n7j4mioj6l3etugrhad7p9btkmedim9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160040049160-n7j4mioj6l3etugrhad7p9btkmedim9n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>160040049160-0binaevt33hq6do0uukm5lqt9obmvv25.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcLhceAX5V6UClMXQZNyONaItMbMuL7Ok</string>
	<key>GCM_SENDER_ID</key>
	<string>160040049160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinelnikov.grocery</string>
	<key>PROJECT_ID</key>
	<string>grocery-mashinin</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-mashinin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160040049160:ios:c58f8263b0bd3e93c30fbd</string>
</dict>
</plist>